.box {
    height: 500px;
    width: 300px;
    background-color: #d7cdcd;
    border: solid #D37676;
    border-radius: 10px;
    padding: ;
    margin: 20px;
    box-shadow: 0 0 20px 5px #808080;
}

.box:hover {
    box-shadow: 0 0 20px 5px #202020;
    transition: 0.5s;
}

.text {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    margin-left: 95px;
    background-color: #D37676;
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 10px;
    margin-top: 9px;
    border-radius: 6px;
}

.btn:hover {
    background-color: aliceblue;
    color: black;
    border: solid #D37676;
    transition: 0.25s;
}

.text:hover {
    color: grey;
}

img {
    height: 70%;
    width: 100%;
    border-bottom: solid #D37676;
    border-radius: 9.5px 9.5px 0 0;
}
